 @media(max-width: 1440px){
    .email {
        padding-left: 40px;
    }
    .navbar-brand img {
        padding-left: 35px;
    }

    .navbar-nav li a {
       padding: 7px; 
    }   
    .carousel-caption h1 {
        font-size: 38px;
        padding-top: 0;
    }
    .carousel-caption p {
        
        font-size: 14px;
    }
    .years-30 li {
        max-width: 234px;
       font-size: 16px;
        
    }
    .years-30 {
        margin-bottom: 117px !important;
    }

    .carousel-caption h1 {
        
        font-size: 38px;
      }  
       
      .carousel-caption p {
        padding: 12px;
      }
      .protection a img {
        width: 80%;
    }
    .drapes li {
        padding: 20px 22px;
    }
    .are {
        
        padding-top: 60px;
        
    }
    .logo-10 {
        text-align: center;
        padding: 0 0 38px 0;
    }
    .content-8 {
        padding-top: 20px;
    }
    .save {
        
        font-size: 13px;
    }
    .heading-3 {
        
        margin-top: 52px;
        
    }
    .logo-11 {
       
        padding-bottom: 40px;
    }
    .line-space img {
        width: 26px;
        display: inline-block;
        position: absolute;
        margin-left: 49px;
    }
    .sincerely {
        margin: -43px 124px 15px 139px;
        color: #0092a0;
        padding: 16px 86px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 13px;
    }
    .line-space-one img {
        display: block;
        margin-left: auto;
        width: 26px;
        margin-right: 77px;
        margin-top: -37px;
    }
    .partner img {
        padding: 25px 0;
        width: 98%;
    }
    .social-footer span a {
       
        width: 30px;
        height: 31px;
        line-height: 10px;
        
    }

    .social-footer span a i {
        font-size: 12px;
        
    }
        
    } 


/* -------------------------------- */

@media(max-width: 1199px){
    .email {
        padding-left: 40px;
    }
    .navbar-brand img {
        padding-left: 35px;
    }

    .navbar-nav li a {
       padding: 7px; 
    }   
    .carousel-caption h1 {
        font-size: 38px;
        padding-top: 0;
    }
    .carousel-caption p {
        
        font-size: 14px;
    }
    .years-30 li {
        max-width: 234px;
       font-size: 16px;
        
    }
    .years-30 {
        margin-bottom: 117px !important;
    }

    .carousel-caption h1 {
        
        font-size: 38px;
      }  
       
      .carousel-caption p {
        padding: 12px;
      }
      .protection a img {
        width: 80%;
    }
    .drapes li {
        padding: 20px 22px;
    }
    .are {
        
        padding-top: 60px;
        
    }
    .logo-10 {
        text-align: center;
        padding: 0 0 38px 0;
    }
    .content-8 {
        padding-top: 20px;
    }
    .save {
        
        font-size: 13px;
    }
    .heading-3 {
        
        margin-top: 52px;
        
    }
    .logo-11 {
       
        padding-bottom: 40px;
    }
    .line-space img {
        width: 26px;
        display: inline-block;
        position: absolute;
        margin-left: 49px;
    }
    .sincerely {
        margin: -43px 124px 15px 139px;
        color: #0092a0;
        padding: 16px 86px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 13px;
    }
    .line-space-one img {
        display: block;
        margin-left: auto;
        width: 26px;
        margin-right: 77px;
        margin-top: -37px;
    }
    .partner img {
        padding: 25px 0;
        width: 98%;
    }
    .social-footer span a {
       
        width: 30px;
        height: 31px;
        line-height: 10px;
        
    }

    .social-footer span a i {
        font-size: 12px;
        
    }
        
    }

    /* ---------------------------- */
    @media(max-width: 1085px){
        .years-30 li {
            max-width: 219px;
            
        }
        .sincerely {
           
            font-size: 18px;
        }
        .social-footer span a {
            width: 27px;
            
        }
        .responsive-1 {
            margin-left: -22px;
        }
        .social-footer span a {
            margin: 0 1px;
        }
    }

    /* ---------------------------- */

    /* ---------------------------- */
@media(max-width: 991px){
    

    .email {
        padding-left: 40px;
    }
    .years-30 li img {
        width: 58%;
    }
    
    .navbar-brand img {
        padding-left: 35px;
    }

    .navbar-nav li a {
       padding: 7px; 
    }   
    

    .years-30 {
        margin-bottom: 218px !important;
    }
    .years-30 li {
        
        margin-left: -56px;
        font-size: 15px !important;
    }
    
       
    .carousel-caption p {
        font-size: 12px;
    }
    .content-5 {
        
        padding: 0 50px;
        
    }
    .are {
        font-size: 21px;
        
    }
    .protection a img {
        width: 74%;
        padding: 15px 19px;
    }
     
    .drapes li {
        padding: 9px 2px;
    }
    .are {
        
        font-size: 17px;
        padding-top: 23px;
        
    }
    .save {
        font-size: 15px;
    }

    .logo-10 {
        text-align: center;
        padding: 0 0 38px 0;
    }
    .content-8 {
        padding-top: 20px;
    }
    /* .save {
        
        font-size: 13px;
    } */
    .heading-3 {
        
        margin-top: 52px;
        
    }
    .logo-11 {
       
        padding-bottom: 40px;
    }
    
    .line-space img {
        width: 26px;
        display: inline-block;
        position: absolute;
        margin-left: 49px;
    }
    .sincerely {
        margin: -43px 124px 15px 139px;
        color: #0092a0;
        padding: 16px 86px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: 13px;
    }
    .line-space-one img {
        display: block;
        margin-left: auto;
        width: 26px;
        margin-right: 77px;
        margin-top: -37px;
    }
    .partner img {
        
        width: 103%;
    }
    .social-footer span a {
        width: 26px;
        height: 26px;
        line-height: 4px;
    }
    .social-footer span a i {
        font-size: 9px;
    }
    .reviews li a {
        font-size: 10px;
        
    }
    .responsive-1 {
        font-size: 14px;
    }

.number-one {
    
    font-size: 18px;
}
.number-two {
    
    font-size: 10px;
}
.social-footer span a {
    
    margin: 0;
}
.share {
    padding: 0;
}
.one {
    
    margin: 0 22px;
    
    padding: 26px 13px;
}
.two {
    margin: 0 22px;
    
    padding: 26px 13px;
}
    
}

/* --------------------------------------------------------/ */
   @media(max-width: 834px){
    .years-30 li img {
        width: 61%;
    }
    .prestige {
        text-align: start;
    }
    .prestige h6 {
        
        font-size: 16px;
        
    }
    .social {
        
        margin: 0 142px;
    }
    .news-item .news {
        
        padding: 0px 0 83px 0;
    }
    .both {
        padding: 33px;
    }
    .content-5 {
        
        padding: 0 60px;
        
    }
    .save {
        font-size: 13px;
    }
    .protection a img {
        
        padding: 16px 11px;
    }
   }
/* --------------------------------------------------------/ */

/* --------------------------------------------------------/ */
@media(max-width: 816px){

    .email a {
        
        font-size: 9px;
        
    }
    .logo img {
        width: 4%;
    }
    .prestige h6 {
        font-size: 9px;
    }
    .social {
        margin: 0 56px;
    }

    .carousel-caption {
        
        top: 5%;
        
    }
    .carousel-caption span {
        
        margin-left: 11px;
    }

}

/* --------------------------------------------------------/ */
@media(max-width: 800px){

    .email a {
        
        font-size: 9px;
        
    }
    .logo img {
        width: 4%;
    }
    .prestige h6 {
        font-size: 9px;
    }
    .social {
        margin: 0 56px;
    }

    .carousel-caption {
        
        top: 5%;
        
    }
    .carousel-caption span {
        
        margin-left: 11px;
    }

}

/* --------------------------------------------------------/ */

@media(max-width: 767px){

    .social {
        margin: 0 52px;
    }
    .prestige {
        text-align: center;
    }
    .carousel-caption {
        
        top: 10%;
        
    }
    .carousel-caption p {
        
        padding-left: 20px;
    }
    .years-30 {
        
        display: none !important;
    }
    .news-item .news {
        text-align: center;
        border-bottom: 1px solid #00a6b5;
        padding: 0px 0 72px 0;
    }
    .news-item .news p {
        
        font-size: 26px;
        
    }
    .both {
        padding: 30px;
    }
    .one {
        
        margin: 0px 1px;
        font-size: 16px;
    }
    .two {
        margin: 0px 1px;
        font-size: 16px;
    }
    .protection a img {
        width: 48%;
    }
    .drapes {
        
        flex-wrap: unset !important;
    }
    .are {
        font-size: 17px;
        padding-top: 0px;
    }
    .line-space img {
        
        display: none;
       
    }
    .line-space-one img {
        display: none;
    }
    .sincerely {
        /* margin: -43px 124px 15px 139px; */
        
        padding: 16px 0px;
        margin-right: 0px;
        margin-left: 0px;
        font-size: 17px;
    }
    .content-5 {
        top: 55%;
        padding: 0 28px;
    }
    .protection a img {
        width: 61%;
        padding: 8px 16px;
    }
    .save {
        font-size: 14px;
    }
    .interactive {
       
        margin: 11px 10px;
        
    }
    .partner h1 {
        
        font-size: 22px;
    }
    .number ul li {
        padding: 0 10px;
    }
    .col-md-4.social-footer {
        float: left;
        padding: 0;
    }
    .social-footer span a {
        margin: 0 4px;
    }
    .share {
        padding: 0 29px;
    }

}

/* ------------------------------------------ */


@media(max-width: 765px){

    .social {
        margin: 0 53px;
    }
    .prestige {
        text-align: center;
    }
    .carousel-caption {
        
        top: 15px;
        
    }
    .carousel-caption h1 {
        font-size: 27px;
    }
    .carousel-caption p {
        
        padding-left: 18px;
    }
    .years-30 {
        
        display: none !important;
    }
    .news-item .news {
        text-align: center;
        border-bottom: 1px solid #00a6b5;
        padding: 0px 0 72px 0;
    }
    .news-item .news p {
        
        font-size: 26px;
        
    }
    .both {
        padding: 30px;
    }
    .one {
        
        margin: 0px 1px;
        font-size: 16px;
    }
    .two {
        margin: 0px 1px;
        font-size: 16px;
    }
    .protection a img {
        width: 48%;
    }
    .drapes {
        
        flex-wrap: unset !important;
    }
    .are {
        font-size: 17px;
        padding-top: 0px;
    }
    .line-space img {
        
        display: none;
       
    }
    .heading-3 {
        margin-top: 23px;
        font-size: 27px;
    }
    .line-space-one img {
        display: none;
    }
    .sincerely {
        /* margin: -43px 124px 15px 139px; */
        
        padding: 16px 0px;
        
        font-size: 17px;
    }
    .content-5 {
        top: 55%;
        padding: 0 28px;
    }
    .protection a img {
        width: 61%;
        padding: 8px 16px;
    }
    .interactive {
        
        margin: 16px 10px;
        
    }
    .contact h1 {
       
        font-size: 31px;
        
    }
    .contact-logo {
        
        padding: 5px 0px;
    }
    .partner h1 {
        
        font-size: 27px;
    }
    .save {
        font-size: 14px;
    }
    .number ul li {
        padding: 0 10px;
    }
    .col-md-4.social-footer {
        float: left;
        padding: 0;
    }
    .social-footer span a {
        margin: 0 4px;
    }
    .share {
        padding: 0 29px;
    }

}


/* ------------------------------------ */

@media(max-width: 764px){
    .social {
        margin: 0;
    }
    .carousel-caption {
        
        top: 0;
        
    }
    .content-5 {
        top: 51%;
        padding: 0 3px;
    }
    .interactive {
        
        margin: 14px 10px;
        
    }
    .sincerely {
        /* margin: -43px 124px 15px 139px; */
        padding: 8px 0px;
        
    }
    .lipsey {
        
        padding: 23px;
    }
    .contact h1 {
       
        font-size: 32px;
        
        padding: 2px 0;
    }
    .contact-logo {
        
        padding: 3px 0px;
    }
    .partner h1 {
        
        font-size: 22px;
    }

}


/* ------------------------------------ */

@media(max-width: 700px){
    .social {
        margin: 0;
    }
    .carousel-caption {
        
        top: 0;
        
    }
    .content-5 {
        top: 51%;
        padding: 0 3px;
    }
    .interactive {
        
        margin: 14px 10px;
        
    }
    .sincerely {
        /* margin: -43px 124px 15px 139px; */
        padding: 8px 0px;
        
    }
    .lipsey {
        
        padding: 23px;
    }
    .contact h1 {
       
        font-size: 32px;
        
        padding: 2px 0;
    }
    .contact-logo {
        
        padding: 3px 0px;
    }
    .partner h1 {
        
        font-size: 22px;
    }

}


/* ------------------------------------------ */
@media(max-width: 671px){

    .prestige {
        
        margin-right: 94px;
    }
    .email a {
        font-size: 9px;
    }
    .prestige h6 {
        
        padding: 10px 4px;
        font-size: 12px;
        
    }
    span.navbar-toggler-icon {
        margin-right: 10px;
    }
    .logo img {
        width: 6%;
    }
    .social a i {
        font-size: 8px;
    }

    .years-30 {
        
        display: none !important;
    }
    .news-item .news {
       
        padding: 0px 0 67px 0;
    }
    .news-item .news p {
        font-size: 20px;
        padding: 27px;
    }
    .news-item .news a img {
        width: 35%;
    }
    .news-item .news a {
        
        padding: 19px 24px;
    }
    .both {
        padding: 25px;
    }
    .logo-9 img {
        padding: 2px;
    }
    .one {
        
        margin: 0 18px;
        
    }
    .two {
        
        margin: 0 18px;
        
    }
    .save {
        font-size: 8px;
        padding: 0 36px;
    }
    .heading-3 {
        margin-top: 23px;
        margin-bottom: 0;
    }
    .heading-3 {
        
        font-size: 27px;
        
    }
    .logo-11 {
        padding-bottom: 32px;
        padding-top: 0px;
    }
    .sincerely {
        
        padding: 16px 17px;
        
    }
    .line-space img {
        
        display: none;
        
    }
    .line-space-one img {
        display: none;
        
    }
    .lipsey {
        
        padding: 0;
    }
    .interactive {
        margin: 15px 41px 10px 37px;
    }
    .interactive {
        
        padding: 10px 0;
       
    }
    .contact h1 {
        
        font-size: 34px;
        
        padding: 2px 0;
    }
    .contact-logo {
        
        padding: 6px 0px;
    }
    .partner img {
        width: 87%;
        margin-left: 15px;
    }

    .protection a img {
        width: 48%;
    }
    .drapes {
        
        flex-wrap: unset !important;
    }
    .are {
        font-size: 11px;
        padding-top: 0px;
    }
    .content-5 {
        padding: 0 10px;
    }
    .number ul li {
        padding: 0 6px;
    }
    .col-md-4.social-footer {
       
        padding: 0;
    }
    .social-footer span a {
        margin: 0;
    }
    .share {
        padding: 0;
    }
}

/* ----------------------------------------------*/

@media(max-width: 646px){
    .number-two {
        font-size: 8px;
    }

}


/* ----------------------------------------------------- */

@media(max-width: 622px){
    .login ul li a {
        
        font-size: 8px;
    }
    .frequently h6 {
        
        font-size: 8px;
    }

}

/* ----------------------------------------------------- */
/* ------------------------------------------ */
                    
@media(max-width: 575px){

    .prestige {
        
        margin-right: 94px;
    }
    .email a {
        font-size: 9px;
    }
    .prestige h6 {
        
        padding: 10px 4px;
        font-size: 12px;
        
    }
    span.navbar-toggler-icon {
        margin-right: 10px;
    }
    .logo img {
        width: 6%;
    }
    .social a i {
        font-size: 8px;
    }

    .years-30 {
        
        display: none !important;
    }
    .news-item .news {
       
        padding: 0px 0 67px 0;
    }
    .news-item .news p {
        font-size: 20px;
        padding: 27px;
    }
    .news-item .news a img {
        width: 35%;
    }
    .news-item .news a {
        
        padding: 19px 24px;
    }
    .both {
        padding: 25px;
    }
    .logo-9 img {
        padding: 2px;
    }
    .one {
        
        margin: 0 18px;
        
    }
    .two {
        
        margin: 0 18px;
        
    }
    .save {
        font-size: 8px;
        padding: 0 36px;
    }
    .heading-3 {
        margin-top: 23px;
        margin-bottom: 0;
    }
    .heading-3 {
        
        font-size: 27px;
        
    }
    .logo-11 {
        padding-bottom: 32px;
        padding-top: 0px;
    }
    .sincerely {
        
        padding: 16px 17px;
        
    }
    .line-space img {
        
        display: none;
        
    }
    .line-space-one img {
        display: none;
        
    }
    .lipsey {
        
        padding: 0;
    }
    .interactive {
        margin: 15px 41px 10px 37px;
    }
    .interactive {
        
        padding: 10px 0;
       
    }
    .contact h1 {
        
        font-size: 34px;
        
        padding: 2px 0;
    }
    .contact-logo {
        
        padding: 6px 0px;
    }
    .partner img {
        width: 87%;
        margin-left: 15px;
    }

    .protection a img {
        width: 48%;
    }
    .drapes {
        
        flex-wrap: unset !important;
    }
    .are {
        font-size: 11px;
        padding-top: 0px;
    }
    .content-5 {
        padding: 0 10px;
    }
    .number ul li {
        padding: 0 10px;
    }
    .col-md-4.social-footer {
        float: left;
        padding: 0 18px;
    }
    .social-footer span a {
        margin: 0 4px;
    }
    .share {
        padding: 0 29px;
    }

}

/* ---------------------------------- */

/* ---------------------------------- */

/* ---------------------------------- */

@media(max-width: 570px){

    .email a {
       
        font-size: 11px;
        
    }
    .prestige h6 {
        
        font-size: 11px;
        
    }
    .social {
        padding-right: 125px;
    }

    .carousel-caption h1 {
        font-size: 15px;
        padding: 0 10px;
    }
    .carousel-caption p {
        font-size: 9px;
        margin-bottom: 0;
    }
    .carousel-caption span {
        
        margin-left: 9px;
    }
    .news-item .news p {
        font-size: 16px;
    }
    .news-item .news a img {
        width: 50%;
    }
    .one {
       
        margin: 0;
        
    }
    .two {
        
        margin: 0;
       
    }
    .are {
        font-size: 11px;
        margin: 0;
        padding-top: 0;
    }
    .logo-10 {
        text-align: center;
        padding: 0;
    }
    .content-8 {
        padding-top: 20px;
        display: none;
    }
    .logo-11 {
        padding-bottom: 39px;
       
    }
    .line-space img {
        
        display: none;
    }
    .sincerely {
        
        padding: 0;
        
    }
    .partner h1 {
        
        font-size: 20px;
    }
    .line-space-one img {
        
        display: none;
    }
    .share {
        padding: 0px 27px;
    }
    .login ul {
        flex-wrap: unset !important;
    }
    .login ul li a {
        
        font-size: 8px;
    }


}


/* ----------------------------------------- */

@media(max-width: 505px){
    .carousel-caption {
        
        top: 2%;
        
    }
    .carousel-caption span {
       
        margin-left: 10px;
    }
    .one {
        margin: 0px 1px;
        font-size: 13px;
        padding: 5px 13px;
    }
    .two {
        margin: 0px 1px;
        font-size: 11px;
    }
    .logo-11 {
        padding-bottom: 41px;
        padding-top: 0px;
    }
    .sincerely {
        
        
        font-size: 15px;
    }
    .lipsey {
       
        font-size: 21px;
    }
    .contact h1 {
        font-size: 26px;
        
    }
    .partner h1 {
        
        font-size: 21px;
    }
}
/* ----------------------------------------- */

/* ----------------------------------------- */
@media(max-width: 504px){

    .prestige {
        
        margin-right: 0px;
    }
    .email a {
        font-size: 9px;
    }
    .prestige h6 {
        
        padding: 10px 4px;
        font-size: 12px;
        
    }
    span.navbar-toggler-icon {
        margin-right: 10px;
    }
    .logo img {
        width: 6%;
    }
    .social a i {
        font-size: 8px;
    }
    .carousel-caption {
        
        top: 2%;
        
    }

    .years-30 {
        
        display: none !important;
    }
    .news-item .news {
       
        padding: 0px 0 67px 0;
    }
    .news-item .news p {
        font-size: 20px;
        padding: 27px;
    }
    .news-item .news a img {
        width: 35%;
    }
    .news-item .news a {
        
        padding: 19px 24px;
    }
    .both {
        padding: 25px;
    }
    .logo-9 img {
        padding: 2px;
    }
    .one {
        
        margin: 0 18px;
        
    }
    .two {
        
        margin: 0 18px;
        
    }
    .save {
        font-size: 8px;
        padding: 0 36px;
    }
    .heading-3 {
        margin-top: 23px;
        margin-bottom: 0;
    }
    .heading-3 {
        
        font-size: 27px;
        
    }
    .logo-11 {
        padding-bottom: 32px;
        padding-top: 0px;
    }
    .sincerely {
        
        padding: 16px 17px;
        
    }
    .line-space img {
        
        display: none;
        
    }
    .line-space-one img {
        display: none;
        
    }
    .lipsey {
        
        padding: 0;
    }
    .interactive {
        margin: 15px 41px 10px 37px;
    }
    .interactive {
        
        padding: 10px 0;
       
    }
    .contact h1 {
        
        font-size: 34px;
        
        padding: 2px 0;
    }
    .contact-logo {
        
        padding: 6px 0px;
    }
    .partner img {
        width: 87%;
        margin-left: 15px;
    }

    .protection a img {
        width: 48%;
    }
    .drapes {
        
        flex-wrap: unset !important;
    }
    .are {
        font-size: 11px;
        padding-top: 0px;
    }
    .content-5 {
        padding: 0 10px;
    }
    .number ul li {
        padding: 0 10px;
    }
    .col-md-4.social-footer {
        float: left;
        padding: 0 18px;
    }
    .social-footer span a {
        margin: 0 4px;
    }
    .share {
        padding: 0 29px;
    }

}

/* ---------------------------------- */
@media(max-width: 480px){

    .social {
        padding-right: 0px;
        margin: 0 2px;
    }

    .email a {
        font-size: 9px;
    }
    .email {
        padding: 4px 1px;
    }
    .prestige h6 {
        font-size: 9px;
    }
    .prestige {
        margin-right: 0;
    }
    .social {
        padding-right: 125px;
    }
    .carousel-caption {
        
        top: 0%;
        
    }

    .carousel-caption h1 {
        font-size: 15px;
        padding: 0 18px;
    }
    .carousel-caption p {
        font-size: 9px;
        margin-bottom: 0;
    }
    .carousel-caption span {
        margin-left: 19px;
    }
    .news-item .news p {
        font-size: 16px;
    }
    .news-item .news a img {
        width: 50%;
    }
    .one {
        margin: 0;
        font-size: 10px;
    }
    .two {
        
        margin: 0;
        font-size: 10px;
       
    }
    .partner h1 {
        
        font-size: 18px;
    }
    .one {
        
        padding: 6px 12px;
    }
    .two {
       
        padding: 10px 13px;
    }
    .are {
        font-size: 11px;
        margin: 0;
        padding-top: 0;
    }
    .logo-10 {
        text-align: center;
        padding: 0;
    }
    .content-8 {
        padding-top: 20px;
        display: none;
    }
    .line-space img {
        
        display: none;
    }
    .sincerely {
        padding: 8px;
        font-size: 10px;
    }
    .heading-3 {
        font-size: 23px;
    }
    .interactive h1 {
        font-size: 19px;
        
    }
    .interactive h2 {
        
        font-size: 14px;
        
    }
    .contact h1 {
        font-size: 26px;
        margin-bottom: 0;
    }
    .line-space-one img {
        
        display: none;
    }
    .share {
        padding: 0px 27px;
    }
    .login ul {
        flex-wrap: unset !important;
    }
    .login ul li a {
        
        font-size: 8px;
    }


}

/* ---------------------------------- */

/* ---------------------------------------------- */
@media(max-width: 428px){
    .carousel-caption h1 {
        font-size: 13px;
        padding: 0 10px;
    }
    .carousel-caption span {
        
        margin-left: 7px;
    }
    .carousel-caption p {
        font-size: 7px;;
        margin-bottom: 0;
        padding: 6px;
    }
    .btn-custom {
        
        padding: 2px 8px !important;
        margin-left: 4px;
        transition: all 0.5s ease;
        font-size: 10px !important;
    }
    .one {
        margin: 0 6px;
        padding: 0px 13px;
    }
    .protection a img {
        width: 60%;
    }
    .heading-3 {
        font-size: 20px;
    }
    .logo-11 img {
        width: 42px;
    }
    .lipsey {
        padding: 0;
        font-size: 16px;
    }
    .partner h1 {
        
        font-size: 18px;
    }
}

/* ----------------------------------------------------- */
@media(max-width: 380px){

    .email a {
        font-size: 9px;
    }
    .email {
        padding: 4px 1px;
    }
    .prestige h6 {
        font-size: 9px;
    }
    .prestige {
        margin-right: 0;
    }
    .social {
        padding-right: 125px;
    }

    .carousel-caption h1 {
        font-size: 13px;
        padding: 0 10px;
    }
    .carousel-caption span {
        
        margin-left: 7px;
    }
    .carousel-caption p {
        font-size: 7px;;
        margin-bottom: 0;
        padding: 6px;
    }
    .btn-custom {
        
        padding: 2px 8px !important;
        margin-left: 4px;
        transition: all 0.5s ease;
        font-size: 10px !important;
    }
    .news-item .news p {
        font-size: 16px;
    }
    .news-item .news a img {
        width: 50%;
    }
    .one {
        margin: 0;
        font-size: 10px;
    }
    .two {
        
        margin: 0;
        font-size: 10px;
       
    }
    .are {
        font-size: 11px;
        margin: 0;
        padding-top: 0;
    }
    .logo-10 {
        text-align: center;
        padding: 0;
    }
    .content-8 {
        padding-top: 20px;
        display: none;
    }
    .line-space img {
        
        display: none;
    }
    .sincerely {
        padding: 8px;
        font-size: 10px;
    }
    .heading-3 {
        font-size: 23px;
    }
    .interactive h1 {
        font-size: 19px;
        
    }
    .interactive h2 {
        
        font-size: 14px;
        
    }
    .contact h1 {
        font-size: 26px;
        margin-bottom: 0;
    }
    .line-space-one img {
        
        display: none;
    }
    .share {
        padding: 0px 27px;
    }
    .login ul {
        flex-wrap: unset !important;
    }
    .login ul li a {
        
        font-size: 8px;
    }


}
/* ------------------------------------------- */
@media(max-width: 376px){
     

    .email a {
        font-size: 7px;
    }
    .social {
        padding-right: 0px;
    }
    .carousel-caption h1 {
        
        padding: 0 4px;
    }
    .btn-custom {
      
        display: none !important;
    }
    .news-item .news {
        padding: 0px 0 46px 0;
    }
    .news-item .news p {
        font-size: 10px;
        padding: 15px;
    }
    .news-item .news a {
        padding: 13px 13px;
    }
    .films {
        
        font-size: 20px;
        
    }
    .one {
       
        font-size: 8px;
    }
    .two {
        
        font-size: 7px;
        padding: 10px 10px;
    }
    .protection a img {
        width: 69%;
    }
    .heading-3 {
        font-size: 20px;
    }
    .sincerely {
        
        font-size: 8px;
    }
    .lipsey {
        padding: 0;
        font-size: 13px;
    }
    .interactive {
        margin: 15px 41px -8px 37px;
    }
    .contact h1 {
        font-size: 21px;
        padding-top: 15px;
    }
    .partner h1 {
        font-size: 16px;
    }
    .share {
        padding: 0;
    }
    .login ul li a {
        
        padding: 4px;
    }
    .login ul li a::after {
        content: "";
        display: none;
    }
}

/* ------------------------------------------- */
@media(max-width: 356px){
     
    .prestige h6 {
        font-size: 7px;
    }
    
}
/* ------------------------------------------- */

@media(max-width: 300px){
     

    .email a {
        font-size: 7px;
    }
    .social {
        padding-right: 0px;
    }
    .carousel-caption h1 {
        
        padding: 0 4px;
    }
    .btn-custom {
      
        display: none !important;
    }
    .news-item .news {
        padding: 0px 0 46px 0;
    }
    .news-item .news p {
        font-size: 10px;
        padding: 15px;
    }
    .news-item .news a {
        padding: 13px 13px;
    }
    .films {
        
        font-size: 20px;
        
    }
    .one {
       
        font-size: 8px;
    }
    .two {
        
        font-size: 7px;
        padding: 10px 10px;
    }
    .protection a img {
        width: 69%;
    }
    .heading-3 {
        font-size: 20px;
    }
    .sincerely {
        
        font-size: 8px;
    }
    .lipsey {
        padding: 0;
        font-size: 13px;
    }
    .interactive {
        margin: 15px 41px -8px 37px;
    }
    .contact h1 {
        font-size: 21px;
        padding-top: 15px;
    }
    .partner h1 {
        font-size: 16px;
    }
    .share {
        padding: 0;
    }
    .login ul li a {
        
        padding: 4px;
    }
    .login ul li a::after {
        content: "";
        display: none;
    }
}

/* ------------------------------------------- */